<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
  </head>

  <body>
    <h1>这是 ejs 模板</h1>
    <div class="students">
      <div class="username"><%= name %></div>
      <form action="/rename" method="get">
        <fieldset>
          <legend>
            <h2>修改名字</h2>
          </legend>
          <input type="text" name="username" id="username" />
          <input type="submit" value="提交" />
        </fieldset>
      </form>

      <!-- 嵌入 if 语句 -->
      <% if(name==="Taffy" && name==="永雏塔菲" ) {%>
      <h2>cfm</h2>
      <% } else if(name==="雏草姬" ){ %>
      <h2>tcg</h2>
      <% } %>
    </div>
  </body>
</html>
